.main-history {
  padding: 50px 0 100px;
  display: grid;
  grid-template-columns: 30% 1fr;
  grid-gap: 90px;
}

.section__title {
  margin-bottom: 100px;
}

.nav-history {
  padding-top: 70px;
}

.nav-history__item {
  margin-bottom: 30px;
}

.nav-history__item a {
  text-decoration: none;
  font-size: 20px;
  font-weight: 700;
  color: var(--light-brown);

  line-height: 1.5;
  text-transform: uppercase;
}

.nav-history__item a:hover {
  color: var(--dark);
}

.history-block {
  font-size: 17px;
  line-height: 1.5;
}

.history-block-text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.history-block__title {
  margin-bottom: 30px;
  font-size: 30px;
  font-weight: 400;
}


.history-block-image {
  display: flex;
  justify-content: space-between;

  margin-bottom: 50px;
}

.history-block-image img {
  max-height: 400px;
}

.history-block__list li::before {
  content: "—";

  padding-right: 7px;
}

.block-page {
  margin-bottom: 100px;
}

.block-page p {
  margin-bottom: 25px;
}

