.record-page 
.header {
  /* border-bottom: 1px solid #ccc; */
  background: rgba(255, 254, 254, 0.96);
  box-shadow: 0px 4px 10px rgba(8, 6, 6, 0.1);
  backdrop-filter: blur(8px);
}

.section-record-box {
  padding-right: 10%;
}

.section__title {
  font-size: 65px;
  font-weight: 400;
  color: var(--dark);

  /* max-width: 410px; */
}

.section-record-form {
  flex-grow: 1;
}

.section-record__img {
  width: 30px;
  height: 26px;
  
  fill: var(--orange);
  stroke: var(--orange);

  /* transition: fill,stroke .5s; */
}

.section-record__back {
  margin: 0 0 60px 0;
  display: inline-flex;
  align-items: center;

  text-decoration: none;
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 700;

  color: var(--orange);
/* 
  transition: color .5s; */
}

.section-record__back:hover {
  color: var(--brown);
}

.section-record__back:hover .section-record__img {
  fill: var(--brown);
  stroke: var(--brown);
}

.section-record__wrapper {
  padding: 75px 0 300px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.section-record-list {
  list-style-type: none;
}

.section-record__link {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 33px;
  margin: 24px 0 0 0 ;
  font-size: 20px;
  text-decoration: none;
  color: var(--dark);

  border: 1px solid transparent;

  background: var(--white);
  box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
}

.section-record__link:hover {
  background: var(--white);

  border: 1px solid var(--light-brown);
  box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
}

.field {
  padding: 16px;
  height: 60px;
  border: 1px solid var(--beige-dark);
  border-radius: 20px;

  font-family: var(--font);
}

.field:focus,
.record-pay-form__btn:focus {
  outline-color: var(--light-brown);
}

.record-pay-form {
 display: flex;
 flex-direction: column;
 row-gap: 24px;
}

.wrap {
  display: flex;
  justify-content: space-between;
}

.phone, .datatime {
  width: 49%;
}

.record-pay-form__btn {
  height: 50px;
  font-size: 20px;
  font-weight: 700;
  color: var(--white);
  
  background-color: var(--orange);
  box-shadow: 0px 4px 20px var(--orange);
  border: none;
  border-radius: 33.5px;
}

.record-pay-form__btn:hover {
  background-color: var(--light-brown);
  color: var(--brown);
  box-shadow: 0px 4px 20px var(--brown);
}
